*{
   margin:0;
   padding: 0 ;  
   text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.choice{
    height:165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
/*score-baord*/
.score-board{
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,#comp-score,#draw-score,#total-moves{
    font-size: 4rem;
}
.msg-conatiner{
    margin-top: 4rem;
    margin-bottom: 2rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
#footer{
    text-align: center;
    margin-top: auto;
    background-color: rgb(237, 133, 233);
}
.footer-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 2rem 0 2rem 0;
    font-size: 1rem;
}
.footer-list-item{
    text-decoration: none;
}